<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/ublircsdb?zeroDateTimeBehavior=convertToNull"/>
        <property name="username" value="root"/>
        <property name="password" value="UBLI@7820"/>

    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
        <property name="packagesToScan">
            <list>
                <value>com.ublircs</value>
            </list>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10240000" />
    </bean>

    <security:http auto-config="true">
        <security:intercept-url pattern="/admin/**" access="ROLE_ADMIN"/>
        <security:intercept-url pattern="/branchUser/**" access="ROLE_BRANCH_USER"/>
        <security:intercept-url pattern="/rcsTeam/**" access="ROLE_RMS_TEAM"/>
        <security:intercept-url pattern="/rcsHead/**" access="ROLE_RMS_HEAD"/>
        <security:intercept-url pattern="/surveyors/**" access="ROLE_SURVEYOR" />



        <security:form-login
                login-page="/login"
                authentication-failure-url="/login?error"
                username-parameter="username"
                password-parameter="password"
                authentication-success-handler-ref="customAuthenticationSuccessHandler"

        />

        <security:logout logout-success-url="/login?logout"/>
        <security:headers>
            <security:cache-control/>
            <security:hsts/>
        </security:headers>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:password-encoder hash="bcrypt"></security:password-encoder>
            <security:jdbc-user-service
                    data-source-ref="dataSource"
                    authorities-by-username-query="select u.username, a.authority  from users u inner join userTypes a on u.userTypeId = a.userTypeId WHERE username = ?"
                    users-by-username-query="select u.username, u.password, u.status, u.BranchId, u.Email FROM users u WHERE username =?"/>
        </security:authentication-provider>

        <security:authentication-provider>
            <security:password-encoder hash="bcrypt"></security:password-encoder>
            <security:jdbc-user-service
                    data-source-ref="dataSource"
                    authorities-by-username-query="select s.username, s.authority  from surveyors s WHERE username = ?"
                    users-by-username-query="SELECT s.username, s.password, s.status FROM surveyors s WHERE username = ?" />
        </security:authentication-provider>

    </security:authentication-manager>

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="587" />
        <property name="username" value="rcs.ublinusrers@gmail.com" />
        <property name="password" value="UBLI@351" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
    </bean>

    <bean id="mailMail" class="com.ublircs.util.MailMail">
        <property name="mailSender" ref="mailSender" />
    </bean>

    <bean id="customAuthenticationSuccessHandler" class="com.ublircs.util.CustomAuthenticationSuccessHandler"/>

</beans>